/*
version: v1.0
*/

@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');

body {
    padding: 0;
    margin: 0;
}

/* style every element */
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* all divs */
div {
    box-sizing: border-box;
}

/* .left .right are used to move elements to the left or right */
.left {
    float: left;
}

.right {
    float: right;
}

/* hide the mobile menu*/
#mob-menu {
    display: none;
}

/* fixed nav bar covers the first .content element, 
this can be used to move the element down to be seen properly */
.movedown-80 {
    position: relative;
    top: 80px;
}

/* nav bar */
nav {
    width: 100%;
    text-align: center;
    height: 80px;
    background-color: #ffb2b5;
    position: fixed;
    z-index: 1;
}

/* logo within nav bar */
nav .logo {
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    float: left;
    margin-top: 20px;
    font-size: 32px;
    color: #333;
}

/* nav menu container */
nav ul {
    width: auto;
    margin: 0 auto;
    padding: 0;
    padding-top: 27px;
    text-align: right;
}

/* first list item in nav menu reset to 0 margin left */
nav li:first-of-type {
    margin-left: 0px;
}

/* remove the dotted list style, put them in a row and set the left margin to 15px*/
nav li {
    list-style: none;
    display: inline-block;
    margin-left: 15px;
}

/* nav menu links use the same font as logo */
nav ul li a {
    text-decoration: none;
    color: #333;
    font-family: 'Fredericka the Great', cursive;
    font-size: 20px;
    font-weight: bold;
}

/* the main container element */
.content {
    padding: 40px 80px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

nav .content {
    padding: 0px 80px!important;
}

/* the header title area on every page */
.parallax {
    height: 350px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../assets/bake-my-day.jpg");
    background-position: 90% 15%;
    background-size: 120%;
}

/* put a transparent filter on top of the header images */
.dark-filter {
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    float: left;
    height: 100%;
    width: 100%;
}

/* page header titles */
.parallax h1 {
    text-shadow: 2px 2px 0px #000;
    font-size: 42px;
    margin-top: 15%;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

/* page header subtitles */
.parallax h2 {
    text-shadow: 2px 2px 0px #000;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    font-weight: 400;
    color: #fff;
}

/* can be used to create 2 column layout */
.half {
    width: 48%;
    display: inline-block;
}

/* every 2nd .half element has a margin left value */
.half:nth-of-type(2n) {
    margin-left: 4%;
}

/*  used the create a 3 column layout */
.third {
    width: 33%;
    display: inline-block;
    padding: 10px;
}

#gallery img {
    height: 150px;
}
#gallery .column {
    contain: content;
}

/* font awesome socail icons*/
footer .fab {
    font-size: 36px;
    margin-right: 10px;
}

/* fitst footer icon has no margin left value*/
footer .fab:first-of-type {
    margin-left: 0;
}

table {
    text-align: left;
    width: 100%;
}

/* every odd row */
table tr:nth-child(odd) {
    background-color: #eeeeee;
}

table tr th {
    background-color: #ffb2b5;
}

/* table cell/data  */
table tr th, table tr td {
    padding: 5px 15px;
}

video {
    height: 100%;
    width: 100%;
}

/* used for two column layhout in forms */
form .half {
    width: 45%;
}

footer {
    background-color: #666;
    min-height: 150px;
    width: 100%;
    float: left;
    clear: both;
    box-sizing: border-box;
}
 
/* everything in the footer and footer links */
footer>*, footer ul li a {
    color: #efefef;
    text-decoration: none;
}

/* footer lists */
footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}


footer #myCanvas {
    margin: 0 auto;
    position: relative;
    bottom: -60px;
}

/* when mousing over links in the footer, change the text colour */
footer a:hover {
    color: #ffb2b5;
}

/* move the social icons down a bit */
footer #socials {
    margin-top: 40px;
}

/* styling aimed at a common DELL sqaure type monitor */
@media screen and (max-width: 1200px) {
    textarea {
        width: 80%;
    }
}

/* target screens near HD quality */
@media screen and (max-width: 1710px) {
    .parallax {
        background-position: 90% -50%;
        background-size: 140%;
    }
}

/* target large tablets and netbooks */
@media screen and (max-width: 1000px) {
    .half {
        width: 100%;
        margin: 0;
        display: block;
    }
    .half:nth-of-type(2n) {
        margin-left: 0;
    }
}

@media screen and (max-width: 960px) {
    parallax {
        background-position: 90% -10%;
        background-size: 140%;
    }
}

@media screen and (max-width: 800px) {
    nav ul {
        width: 80%;
        margin: 0 auto;
        padding: 0;
        padding-top: 0px;
        padding-top: 30px;
    }
}

/* target mobile devices */
@media screen and (max-width: 420px) {
    nav ul {
        text-align: center;
    }
    #mob-menu {
        height: 20px;
        width: 40px;
        position: relative;
        left: 20px;
        top: -12px;
        display: block;
    }
    #mob-menu .bars {
        height: 4px;
        width: 40px;
        margin-bottom: 4px;
        background-color: #333;
        display: block;
    }
    nav {
        height: 60px;
    }
    nav .logo {
        font-family: 'Fredericka the Great', cursive;
        float: left;
        padding: 5px;
        margin-top: 10px;
        margin-left: 0;
        font-size: 32px;
        color: #333;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        display: none;
    }
    nav ul {
        background-color: #ffb2b5;
        width: 100%;
    }
    nav ul #menuBlock {
        display: none;
        height: 0px;
        -moz-transition: all ease-in-out 2s;
        -webkit-transition: all ease-in-out 2s;
        -o-transition: all ease-in-out 2s;
        transition: all ease-in-out 2s;
    }
    #mob-menu:hover>#menuBlock {
        display: block;
        height: auto;
        transition: height linear 2s;
    }
    nav .content {
        padding: 0px!important;
    }
    nav ul li {
        display: block;
        margin: 0;
        text-align: center;
        padding: 20px 40px;
    }
    .parallax {
        height: 300px;
        background-position: 90% -10%;
        background-size: 250%;
    }
    .parallax h1 {
        font-size: 32px;
        margin-top: 40px;
    }
    .parallax h2 {
        font-size: 24px;
    }
    .content {
        padding: 40px 40px;
    }
}